<%- include ("partials/header") %> 

<div class="container">

<h1>This is the show template</h1>

<p><%= campsData.name %> </p>

<img style="width: 100%;" src="<%= campsData.imageURL %>" alt="<%= campsData.name %> photo">

<p><%= campsData.desc %> </p>

</div>